

.filter-item{
    margin: 20px 0px 20px 0px;
}

.tabulator-header-filter input::placeholder {
    color: black;
}
#example-table{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .service-section {
    max-width: 99%;
  }

  .flat-button {
    border-radius: 100px;
    background-color: white;
    
    padding: 0.5em 1.5em;
    border: 0;
    color:  #303843;
    transition: 0.25s ease;
    cursor: pointer;
    height: fit-content;
    align-self: self-end;
    border-radius: 100px;
    border: 2px solid #2B7A78;
    padding : 8px;
  }
    
  .flat-button:hover, .flat-button:focus {
    background-color:  #2B7A78;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    
  }

/*seacrh field*/
.search-field {
    display: flex;
    flex-grow: 1;
    position: relative;
    justify-content: space-around;
    justify-content: space-between;
    padding-left: 20px;
    padding-right:20px;
  }
  .search-field input {
    width: 220%;
    color: grey;
    border:white;
    border-radius: 25px;
    text-align: centre;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 4rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  .search-field input.active, .search-field input:focus {
    width: 220%;
    color: black;
    border-radius: 25px;
    text-align: centre;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }

  .search-field i {
    position: relative;
    left: 15%;
    top: 65%;
    transform: translateY(-50%);
  
  }
  .search-field i.active, .search-field i.focus {
    position: relative;
    left: 5%;
    top: 65%;
    transform: translateY(-50%);
  
  }
  .search-element{
    width:10%;
    position: relative;
  }




/*Theme the Tabulator element*/
#example-table{
    background-color:#3AAFA9;
    border: 1px solid #2B7A78;
    border-radius: 20px;
}

#subTable{
  background-color:#3AAFA9;
  border-radius: 20px;
}
/*Theme the header*/
.tabulator-header {
    background-color:#2B7A78;
    color:black;
}


/*Allow column header names to wrap lines*/
.tabulator-header .tabulator-col,
.tabulator-header .tabulator-col-row-handle {
    white-space: normal;
}

/*Color the table rows*/
.tabulator-tableHolder .tabulator-table .tabulator-row{
    color:#fff;
    background-color:#DEF2F1;
}

/*Color even rows*/

.tabulator-row.tabulator-row-even,.tabulator .tabulator-header .tabulator-col,.tabulator .tabulator-footer,
.tabulator .tabulator-footer .tabulator-page-size  {
  /*background-color: #EFDED2 !important;*/
  background-color:#C3EAE8 !important;
}

.tabulator-row.tabulator-row-odd {
  background-color:white !important;
}

.tabulator-row.tabulator-row-odd:hover,.tabulator-row.tabulator-row-even:hover {
  background-color:#0E9594 !important;
  color: white;
}
